<header class="double-tabs">
	<div class="first-tab">
		<div class="logotype">
			<%= link_to image_tag('/images/icons/logotype.png', :alt => "logo"), "/#{I18n.locale}/" %>
		</div>
		<!-- TOP MENU: begin -->
		<div class="tmenu">
			<ul>
				<% @pages = Page.all(:conditions => "is_menu_element = '1'") %>
				<% for page in @pages do %>
					<% if page.is_special == '1' %>
						<li class="marked">
							<%= link_to_unless_current(page.title, {:class => 'active'}) do 
							link_to(page.title, "/pages/#{page.id}") 
							end %></li>
					<% elsif %>
						<li><%= link_to page.title, "/#{I18n.locale}/pages/#{page.id}" %></li>
					<% end %>
				<% end %>
				<li class="active">Новости</li>
			</ul>
		</div>
		<!-- TOP MENU: end -->
	</div>
	<div class="second-tab">
		<div class="autorize">
			
				<%if !user_signed_in? %>
				<%= form_for :user, :url => user_session_path do |f| %>
				<%= f.label :email %><br />
			     <%= f.email_field :email %>@
			     <div><%= f.label :password %><br />
				 <%= f.password_field :password %>Пароль</div>

				<div><%= f.submit "Вход", :class=>"button-blue" %></div>
				<%end%>
				<%else%>
                <div><b><%= link_to "Выход", destroy_user_session_path, :method => :delete %></b><div>
                					<%end%>
                					
			
			<div class="register">
				<a href="">Регистрация</a><a href="">Напомнить пароль</a>
			</div>
		</div>
		<div class="contactus">
			<div class="phone">
				(495) 700-34-19
			</div>
			<div class="adress">
				<a href=""><%= t('address') %></a>
			</div>
		</div>
	</div>
	<span class="tide"></span>
</header>