<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <meta name="description" content="<%= @page_description %>" />
  <meta name="keywords" content="<%= @page_keywords %>" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'partials/slider_script' %>
</head>
<body>

	<div class="md main">
		<div class="wrapper">
			<%= render :partial => 'partials/header' %>
			<%= render :partial => 'partials/slider_content' %>
			<%= render 'partials/panels' %>
		</div>
	</div>
	<div class="star-wrapper">
		<div class="star"></div>
	</div>
	<div class="md">
		<div class="wrapper">
			<section class="double-tabs">
				<div class="tabs-menu">
					<%= render :partial => 'partials/events' %>
				</div>
				<div class="tabs-content">
					<%= yield %>
				</div>
				<span class="tide"></span>
			</section>
			<section class="banners db-grey">
				<div><a href="http://www.elitefts.net"><img src="/images/content/banner-elite.png" alt=""></a></div>
				<div><a href="http://www.gymequipment.uk.com"><img src="/images/content/banner-watson.png" alt=""></a></div>
				<div><a href="http://www.hammerstrength.com/"><img src="/images/content/banner-hammer.png" alt=""></a></div>
				<div><a href="http://www.lifefitness.com"><img src="/images/content/banner-lifefitness.png" alt=""></a></div>
				<div class="after"></div>
			</section>
		</div>
		<%= render :partial => 'partials/footer' %>
	</div>
</body>
</html>